@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body {
  width: 100vw;
  height: 100vh;
  font-size: 15pt;
  font-family: 'Open Sans', sans-serif;
  transition: .3s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor__general {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.elemento__texto {
  width: 100%;
  text-align: center;
  margin: 2em;
}

.elemento__titulo {
  font-size: 18px;
  font-weight: 100;
  color: black;
}

/*flecha viene*/
.elemento__1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 5%;
  font-size: 50px;
  color: #000;
}

/*cruz*/
.elemento__2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 6%;
}

.vertical {
  width: 5px;
  height: 55px;
  background: black;
}

.horizontal {
  width: 40px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 25px;
}


/*tumba*/
.elemento__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 10%;
}

.circulo__1 {
  width: 3.2em;
  height: 3.2em;
  background: black;
  border: 3px solid white;
  position: relative;
  border-radius: 100%;
  animation: mymove 7s ease-out infinite;
  z-index: 1;
}

.circulo__2 {
  width: 3em;
  height: 3em;
  border: 4px solid black;
  border-radius: 100%;
  position: absolute;
}

@keyframes mymove {
  0% {
    right: 0px;
  }

  25% {
    right: 21px;
  }

  50% {
    right: 21px;
  }

  100% {
    right: 0px;
  }
}

/*flecha q va */
.elemento__4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 5%;
  font-size: 50px;
  color: #000;
  position: relative;
  transform: rotate(200deg);
}

/*flecha q vuelve */
.elemento__5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 5%;
  font-size: 50px;
  color: #000;
  position: relative;
  transform: rotate(-20deg);
  /* Equal to rotateZ(45deg) */
}


/* switch dark mode */
.switch {
  width: 5%;
  background: #343D58;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  outline: none;
  margin: 0 auto;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  /* -webkit-transition: .3s ease all; */
  transition: .3s ease all;
  /* -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2); */
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
  background: orange;
}

.switch.active::after {
  right: 0;
  left: unset;
}

/* Clases de Dark */
body.dark {
  background: #000;
}

/* vino */
body.dark .elemento__1 {
  color: #fff;
}

/* cruz */
body.dark .vertical {
  background: #fff;
}

body.dark .horizontal {
  background: #fff;
}

/* tumba */
body.dark .circulo__2 {
  background: white;
  border: 3px solid white;
}

/* ascendio */
body.dark .elemento__4 {
  color: #fff;
}

/* volvio */
body.dark .elemento__5 {
  color: #fff;
}

/* titulo */
body.dark .elemento__titulo {
  color: #fff;
}

@media (max-width: 992px) {


  body {
    width: 100vw;
    height: 100vh;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    transition: .3s ease all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor__general {
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

  }

  .elemento__texto {
    width: 100%;
    text-align: center;
    margin: 2em;
  }

  .elemento__titulo {
    font-size: 18px;
    font-weight: 100;
    color: black;
  }

  /*flecha viene*/
  .elemento__1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 8%;
    font-size: 50px;
    color: #000;
  }

  /*cruz*/
  .elemento__2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 10%;
  }

  .vertical {
    width: 5px;
    height: 55px;
    background: black;
  }

  .horizontal {
    width: 40px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 25px;
  }


  /*tumba*/
  .elemento__3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 15%;
  }

  .circulo__1 {
    width: 3.2em;
    height: 3.2em;
    background: black;
    border: 3px solid white;
    position: relative;
    border-radius: 100%;
    animation: mymove 7s ease-out infinite;
    z-index: 1;
  }

  .circulo__2 {
    width: 3em;
    height: 3em;
    border: 4px solid black;
    border-radius: 100%;
    position: absolute;
  }

  @keyframes mymove {
    0% {
      right: 0px;
    }

    25% {
      right: 21px;
    }

    50% {
      right: 21px;
    }

    100% {
      right: 0px;
    }
  }

  /*flecha q va */
  .elemento__4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 8%;
    font-size: 50px;
    color: #000;
    position: relative;
    transform: rotate(200deg);
  }

  /*flecha q vuelve */
  .elemento__5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 8%;
    font-size: 50px;
    color: #000;
    position: relative;
    transform: rotate(-20deg);
    /* Equal to rotateZ(45deg) */
  }


  /* switch dark mode */
  .switch {
    width: 8%;
    background: #343D58;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    /* display: -webkit-box;
  display: -ms-flexbox; */
    display: flex;
    outline: none;
    margin: 0 auto;
  }

  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }

  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    /* -webkit-transition: .3s ease all; */
    transition: .3s ease all;
    /* -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2); */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
  }

  .switch.active {
    background: orange;
  }

  .switch.active::after {
    right: 0;
    left: unset;
  }

  /* Clases de Dark */
  body.dark {
    background: #000;
  }

  /* vino */
  body.dark .elemento__1 {
    color: #fff;
  }

  /* cruz */
  body.dark .vertical {
    background: #fff;
  }

  body.dark .horizontal {
    background: #fff;
  }

  /* tumba */
  body.dark .circulo__2 {
    background: white;
    border: 3px solid white;
  }

  /* ascendio */
  body.dark .elemento__4 {
    color: #fff;
  }

  /* volvio */
  body.dark .elemento__5 {
    color: #fff;
  }

  /* titulo */
  body.dark .elemento__titulo {
    color: #fff;
  }

}



@media (max-width: 770px) {


  body {
    width: 100vw;
    height: 100vh;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    transition: .3s ease all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor__general {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .elemento__texto {
    width: 100%;
    text-align: center;
    margin: 2em;
  }

  .elemento__titulo {
    font-size: 12px;
    font-weight: 100;
    color: black;
  }

  /*flecha viene*/
  .elemento__1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 5%;
    font-size: 30px;
    color: #000;
  }

  /*cruz*/
  .elemento__2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 8%;
  }

  .vertical {
    width: 4px;
    height: 30px;
    background: black;
  }

  .horizontal {
    width: 20px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 18px;
  }

  /*tumba*/
  .elemento__3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 9%;
  }

  .circulo__1 {
    width: 33px;
    height: 33px;
    background: black;
    border: 3px solid white;
    position: relative;
    border-radius: 100%;
    animation: mymove 7s ease-out infinite;
    z-index: 1;
  }

  .circulo__2 {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 100%;
    position: absolute;
  }

  @keyframes mymove {
    0% {
      right: 0px;
    }

    25% {
      right: 14px;
    }

    50% {
      right: 14px;
    }

    100% {
      right: 0px;
    }
  }

  /*flecha q va */
  .elemento__4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    width: 6%;
    font-size: 30px;
    color: #000;
    position: relative;
    transform: rotate(200deg);
  }

  /*flecha q vuelve */
  .elemento__5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 5%;
    font-size: 30px;
    color: #000;
    position: relative;
    transform: rotate(-20deg);
    /* Equal to rotateZ(45deg) */
  }

  /* switch dark mode */
  .switch {
    width: 8%;
    background: #343D58;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    margin: 0 auto;
  }

  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }

  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    /* -webkit-transition: .3s ease all; */
    transition: .3s ease all;
    /* -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2); */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
  }

  .switch.active {
    background: orange;
  }

  .switch.active::after {
    right: 0;
    left: unset;
  }

  /* Clases de Dark */
  body.dark {
    background: #000;
  }

  /* body.dark .contenedor__general {
    background: #000;
  } */

  body.dark .elemento__1 {
    color: #fff;
  }

  body.dark .elemento__4 {
    color: #fff;
  }

  body.dark .elemento__5 {
    color: #fff;
  }

  body.dark .circulo__2 {
    background: white;
    border: 3px solid white;
  }

  body.dark .vertical {
    background: #fff;
  }

  body.dark .horizontal {
    background: #fff;
  }

  body.dark .elemento__titulo {
    color: #fff;
  }


}



@media (max-width: 575px) {

  body {
    width: 100vw;
    height: 100vh;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    transition: .3s ease all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor__general {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .elemento__texto {
    width: 100%;
    text-align: center;
    margin: 2em;
  }

  .elemento__titulo {
    font-size: 12px;
    font-weight: 100;
    color: black;
  }

  /*flecha viene*/
  .elemento__1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 5%;
    font-size: 30px;
    color: #000;
  }

  /*cruz*/
  .elemento__2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 10%;
  }

  .vertical {
    width: 4px;
    height: 33px;
    background: black;
  }

  .horizontal {
    width: 22px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 18px;
  }

  /*tumba*/
  .elemento__3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 15%;
  }

  .circulo__1 {
    width: 35px;
    height: 35px;
    background: black;
    border: 3px solid white;
    position: relative;
    border-radius: 100%;
    animation: mymove 7s ease-out infinite;
    z-index: 1;
  }

  .circulo__2 {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 100%;
    position: absolute;
  }

  @keyframes mymove {
    0% {
      right: -2px;
    }

    25% {
      right: 14px;
    }

    50% {
      right: 14px;
    }

    100% {
      right: -2px;
    }
  }

  /*flecha q va */
  .elemento__4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    width: 8%;
    font-size: 33px;
    color: #000;
    position: relative;
    transform: rotate(200deg);
  }

  /*flecha q vuelve */
  .elemento__5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 5%;
    font-size: 33px;
    color: #000;
    position: relative;
    transform: rotate(-20deg);
    /* Equal to rotateZ(45deg) */
  }

  /* switch dark mode */
  .switch {
    width: 17%;
    background: #343D58;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    margin: 0 auto;
  }

  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }

  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    /* -webkit-transition: .3s ease all; */
    transition: .3s ease all;
    /* -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2); */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
  }

  .switch.active {
    background: orange;
  }

  .switch.active::after {
    right: 0;
    left: unset;
  }

  /* Clases de Dark */
  body.dark {
    background: #000;
  }

  /* body.dark .contenedor__general {
    background: #000;
  } */

  body.dark .elemento__1 {
    color: #fff;
  }

  body.dark .elemento__4 {
    color: #fff;
  }

  body.dark .elemento__5 {
    color: #fff;
  }

  body.dark .circulo__2 {
    background: white;
    border: 3px solid white;
  }

  body.dark .vertical {
    background: #fff;
  }

  body.dark .horizontal {
    background: #fff;
  }

  body.dark .elemento__titulo {
    color: #fff;
  }



}


@media (max-width: 360px) {


  body {
    width: 100vw;
    height: 100vh;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    transition: .3s ease all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor__general {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .elemento__texto {
    width: 100%;
    text-align: center;
    margin: 2em;
  }

  .elemento__titulo {
    font-size: 12px;
    font-weight: 100;
    color: black;
  }

  /*flecha viene*/
  .elemento__1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 12%;
    font-size: 33px;
    color: #000;
  }

  /*cruz*/
  .elemento__2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 10%;
  }

  .vertical {
    width: 4px;
    height: 33px;
    background: black;
  }

  .horizontal {
    width: 22px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 18px;
  }

  /*tumba*/
  .elemento__3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 18%;
  }

  .circulo__1 {
    width: 35px;
    height: 35px;
    background: black;
    border: 3px solid white;
    position: relative;
    border-radius: 100%;
    animation: mymove 7s ease-out infinite;
    z-index: 1;
  }

  .circulo__2 {
    width: 35px;
    height: 35px;
    border: 3px solid black;
    border-radius: 100%;
    position: absolute;
  }

  @keyframes mymove {
    0% {
      right: -6px;
    }

    25% {
      right: 14px;
    }

    50% {
      right: 14px;
    }

    100% {
      right: -6px;
    }
  }

  /*flecha q va */
  .elemento__4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    width: 12%;
    font-size: 33px;
    color: #000;
    position: relative;
    transform: rotate(200deg);
  }

  /*flecha q vuelve */
  .elemento__5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 5%;
    font-size: 33px;
    color: #000;
    position: relative;
    transform: rotate(-20deg);
    /* Equal to rotateZ(45deg) */
  }

  /* switch dark mode */
  .switch {
    width: 17%;
    background: #343D58;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    margin: 0 auto;
  }

  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }

  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    /* -webkit-transition: .3s ease all; */
    transition: .3s ease all;
    /* -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2); */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
  }

  .switch.active {
    background: orange;
  }

  .switch.active::after {
    right: 0;
    left: unset;
  }

  /* Clases de Dark */
  body.dark {
    background: #000;
  }

  /* body.dark .contenedor__general {
    background: #000;
  } */

  body.dark .elemento__1 {
    color: #fff;
  }

  body.dark .elemento__4 {
    color: #fff;
  }

  body.dark .elemento__5 {
    color: #fff;
  }

  body.dark .circulo__2 {
    background: white;
    border: 3px solid white;
  }

  body.dark .vertical {
    background: #fff;
  }

  body.dark .horizontal {
    background: #fff;
  }

  body.dark .elemento__titulo {
    color: #fff;
  }




}